@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  font-size: 1rem;
}

.rounded-circle {
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 1rem;
}
