.banner {
  padding: 100px 0;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2018/12/23/17/59/sport-3891579_960_720.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner::before {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  content: ' ';
  left: 0;
  top: 0;
  height: 100%;
}

.banner-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
